/**
 **********************************************
 * Tooltip
 ==============================================
 */

.customTooltip {
    display: none;
    background: #fff;
    border: 1px solid #ededed;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 0;
    min-width: 50px;
    z-index: 5;
}

.customTooltip:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -7px;
    left: 50%;
    background: #fff;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    -moz-transform: translate(-50%, 0) rotate(45deg);
    -ms-transform: translate(-50%, 0) rotate(45deg);
    transform: translate(-50%, 0) rotate(45deg);
}

.customTooltip p {
    margin: 0 0 5px 0;
}

.customTooltip p:last-child {
    margin-bottom: 0;
}

.withTooltip {
    display: inline-block;
}