.flex-container.return {
  .flex-results-row {
      .date-cell {
        width: 60px;
      }
    .ticket {
      display: table-cell;
      border: 1px solid #dadada;

      .price-info {
        width: auto;
      }
    }
  }

  .depart-header {
    .title {
      transform: rotate(-90deg);
      width: 20px;
    }
  }
  .depart-header-container, .return-header-container, .dates-container {
    display: table-row;
  }
}