@import "../../common/less/variables";

* {
  box-sizing: border-box;
}

.home-responsive {
  @media only screen and (min-width: 642px) {
    min-width: 960px;
    max-width: 1060px;
    margin: 0 auto;
  }
}

.header-module {
  &.desktop {
    display: none;
    @media only screen and (min-width: 642px) {
      display: block;
    }
  }

  &.mobile {
    display: block;
    @media only screen and (min-width: 642px) {
      display: none;
    }
  }

  min-height: 341px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;


  @media only screen and (min-width: 642px) {
    min-height: 320px;
    margin: 0 auto 40px;
    max-width: 1420px;
  }


  .video-foreground {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
  }

  .ytplayer {
    width: 250%;
    height: 200%;
    left: 50%;
    top: -50%;
    position: absolute;
    transform: translateX(-50%);
    pointer-events: none;
    @media only screen and (min-width: 642px) {
      left: auto;
      transform: none;
      width: 100%;
    }
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;

    .title{
      font: 600 46px/0.96 @titillium;
      margin: 0 0 13px 0;
    }

    .sub {
      margin-top: 0;
      font: normal 18px/1.39 @titillium;
      letter-spacing: 0.1px;
      @media only screen and (min-width: 642px) {
        font-size: 21px;
      }
    }
  }

  .link {
    display: block;
    width: 100%;
    height: 100%;

    &_img {
      position: absolute;
      z-index: 1;
    }
  }
}

.intro-module {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 40px;
  @media only screen and (min-width: 642px) {
    text-align: left;
  }
  color: @dark-grey;
  .text-area {
    max-width: 600px;
  }
  .title {
    font: 600 36px/1.11 @titillium;
    margin: 0 0 10px 0;
  }
  .main {
    font: 600 16px/1.63 @titillium;
    margin: 0 0 18px 0;
  }
  img {
    display: none;
    @media only screen and (min-width: 642px) {
      display: block;
    }
  }
}

.link_primary, .link_primary:visited {
  font: 600 14px @titillium;
  letter-spacing: 1px;
  color: @dark-grey;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: @bondi-blue;
  }
}

.ups-home-module {
  margin-bottom: 40px;
  .list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    list-style: none;
    li {
      display: inline-block;
      list-style: none;
      &:not(:first-child) {
        margin-left: 25px;
      }

      @media only screen and (max-width: 641px) {
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        &:not(:first-child) {
          margin-left: 0;
        }
      }
    }
    .ups-col {
      font: 600 14px @titillium;
      color: @bondi-blue;
      text-decoration: none;

      &_has-url:hover {
        text-decoration: underline;
      }

      @media only screen and (max-width: 641px) {
        &_1 {
          animation: fade 10s infinite;
        }
        &_2 {
          animation: fade2 10s infinite;
        }

        &_3 {
          animation: fade3 10s infinite;
        }

        &_4 {
          animation: fade4 10s infinite;
        }
      }

      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 9px;
        background: url('../../fanta.png') no-repeat 0 0;
        margin-right: 10px;
        @media @retina-bp {
          background: url('../../fanta.png') no-repeat 0 -7px;
          background-size: 12px 16px;
        }
      }
    }
  }
}

@retina-bp: ~"only screen and (-webkit-min-device-pixel-ratio: 2)",
~"only screen and (   min--moz-device-pixel-ratio: 2)",
~"only screen and (     -o-min-device-pixel-ratio: 2/1)",
~"only screen and (        min-device-pixel-ratio: 2)",
~"only screen and (        min-resolution: 192dpi)",
~"only screen and (        min-resolution: 2dppx)";

@keyframes fade {
  0% {
    opacity: 1;
  }

  25%,75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100%,50% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0%,25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade4 {
  0%,50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}