@import "../../common/less/variables";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.home-responsive {
  @media only screen and (min-width: 642px) {
    min-width: 960px;
    max-width: 1060px;
    margin: 0 auto;
  }
}

.header-module {
  &.desktop {
    display: none;
    @media only screen and (min-width: 642px) {
      display: block;
    }
  }

  &.mobile {
    display: block;
    @media only screen and (min-width: 642px) {
      display: none;
    }
  }

  min-height: 341px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;


  @media only screen and (min-width: 642px) {
    min-height: 320px;
    margin: 0 auto 40px;
    max-width: 1420px;
  }


  .video-foreground {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
  }

  .ytplayer {
    width: 250%;
    height: 200%;
    left: 50%;
    top: -50%;
    position: absolute;
    transform: translateX(-50%);
    pointer-events: none;
    @media only screen and (min-width: 642px) {
      left: auto;
      transform: none;
      width: 100%;
    }
    @media only screen and (min-width: 1161px) {
      height: 250%;
      top: -75%;
    }
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;

    .title{
      font: 600 46px/0.96 @titillium;
      margin: 0 0 13px 0;
      letter-spacing: .2px;
    }

    .sub {
      margin-top: 0;
      font: normal 18px/1.39 @titillium;
      letter-spacing: 0.1px;
      @media only screen and (min-width: 642px) {
        font-size: 21px;
        letter-spacing: 1.9px;
      }
    }
  }

  .link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
}

.intro-module {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 40px;
  @media only screen and (min-width: 642px) {
    text-align: left;
  }
  color: @dark-grey;
  .text-area {
    max-width: 600px;
  }
  .title {
    font: 600 36px/1.11 @titillium;
    margin: 0 0 10px 0;
  }
  .main {
    font: 600 16px/1.63 @titillium;
    margin: 0 0 18px 0;
  }
  img {
    display: none;
    @media only screen and (min-width: 642px) {
      display: block;
    }
  }
}

.link_primary, .link_primary:visited {
  font: 600 14px @titillium;
  letter-spacing: 1px;
  color: @dark-grey;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: @bondi-blue;
  }
}

.ups-home-module {
  margin-bottom: 40px;
  border-bottom: solid 1px #dadada;
  box-sizing: content-box;
  padding-bottom: 16px;
  min-height: 20px;
  @media only screen and (min-width: 642px) {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    list-style: none;
    li {
      display: inline-block;
      list-style: none;
      &:not(:first-child) {
        margin-left: 25px;
      }

      @media only screen and (max-width: 641px) {
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        &:not(:first-child) {
          margin-left: 0;
        }
      }
    }
    .ups-col {
      font: 600 14px @titillium;
      color: @bondi-blue;
      text-decoration: none;
      position: relative;

      &[href]:hover {
        text-decoration: underline;
      }

      @media only screen and (max-width: 641px) {
        &_1 {
          animation: fade 10s infinite;
        }
        &_2 {
          animation: fade2 10s infinite;
        }

        &_3 {
          animation: fade3 10s infinite;
        }

        &_4 {
          animation: fade4 10s infinite;
        }
      }

      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 9px;
        background: url('../../fanta.png') no-repeat 0 0;
        margin-right: 10px;
        @media @retina-bp {
          background: url('../../fanta.png') no-repeat 0 -7px;
          background-size: 12px 16px;
        }
      }
    }
  }
}

@retina-bp: ~"only screen and (-webkit-min-device-pixel-ratio: 2)",
~"only screen and (   min--moz-device-pixel-ratio: 2)",
~"only screen and (     -o-min-device-pixel-ratio: 2/1)",
~"only screen and (        min-device-pixel-ratio: 2)",
~"only screen and (        min-resolution: 192dpi)",
~"only screen and (        min-resolution: 2dppx)";

@keyframes fade {
  0% {
    opacity: 1;
    z-index: 1;
  }

  25%,75% {
    opacity: 0;
    z-index: -1;
  }

  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
    z-index: -1;
  }

  25% {
    opacity: 1;
    z-index: 1;
  }

  100%,50% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fade3 {
  0%,25% {
    opacity: 0;
    z-index: -1;
  }

  50% {
    opacity: 1;
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fade4 {
  0%,50% {
    opacity: 0;
    z-index: -1;
  }

  75% {
    opacity: 1;
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

.destination-module {
  max-width: 1060px;
  margin: 0 auto 40px;
  padding: 0 20px;

  @media only screen and (min-width: 642px) {
    padding: 0;
  }

  .text-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: white;
    font: normal 26px @titillium;
  }
  .block {
    position: relative;
    height: 320px;
    background-color: #f6be00;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    transition: box-shadow .1s;
    margin-bottom: 20px;

    &:hover {
      box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
      .text-block {
        @media only screen and (min-width: 642px) {
          font-size: 36px;
        }
      }
    }
    @media only screen and (min-width: 642px) {
      width: auto;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
  &__tag-wrapper {
    text-align: right;
    padding: 10px 10px 0 0;
  }

  &__tag {
    background-color: #00add0;
    padding: 0 10px;
    font: bold 11px @titillium;
    color: white;
    letter-spacing: 2px;
    display: inline-block;
    line-height: 18px;
  }

  &__row {
    display: flex;

    &_one {
      flex-direction: column;
      @media only screen and (min-width: 642px) {
        flex-direction: row;
      }
      .block {
        &:first-child {
          height: 156px;
        }
        &:nth-child(2) {
          height: 320px;
        }

        @media only screen and (min-width: 642px) {
          &:first-child {
            flex: 1 1 687px;
            height: 320px;
          }
          &:nth-child(2) {
            flex: 0 0 334px;
            height: 320px;
          }
        }
      }

    }
    &_two {
      @media only screen and (max-width: 641px) {
        flex-direction: column;
      }
      .block {
        width: 50%;
        @media only screen and (max-width: 641px) {
          height: 210px;
          width: 100%;
        }
      }
    }
    &_three {
      @media only screen and (max-width: 641px) {
        flex-wrap: wrap;
      }

      .block:first-child {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(~"50% - 10px");

        @media only screen and (max-width: 641px) {
          flex-basis: 100%;
        }
      }
      .block:nth-child(n+2) {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc(~"25% - 15px");

        @media only screen and (max-width: 641px) {
          flex-basis: calc(~"50% - 10px");
          height: 205px;
        }
      }

      .block:nth-child(n+3) {
        margin-left: 20px;
      }
    }
  }

  .title {
    text-align: center;
    .main {
      font: normal 26px @titillium;
      color: @dark-grey;
      margin: 0 0 3px 0;
    }
    .sub {
      font: normal 16px @titillium;
      color: @mid-grey-sub-text;
      margin: 0 0 21px 0;
    }
  }
  .link_primary {
    text-align: right;
    display: block;
  }
}

body  {
  -webkit-tap-highlight-color: transparent;
  &.new {
    margin: 0 auto;
    @media only screen and (min-width: @mobile-bp) {
      max-width: 1060px;
      min-width: 960px;
    }
  }
}

.sta-heading-m {
  color: #434343;
  font: 600 26px/1.3 @titillium;
  margin: 8px 0;
}

.flight-deals-module {
  margin: 40px 0;
  padding: 0 20px;
  position: relative;
  @media only screen and (min-width: @mobile-bp) {
    padding: 0;
  }

  .tabs {
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
    display: inline-block;
    white-space: nowrap;

    li {
      display: inline-block;
      font: 600 14px @titillium;
      padding: 8px 15px;
      @media only screen and (min-width: @mobile-bp) {
        padding: 8px 25px;
      }
      letter-spacing: 1px;
      text-transform: uppercase;
      color: @bondi-blue;
      cursor: pointer;
      transition: color .2s linear;
      position: relative;
      z-index: 2;

      &.active {
        color: white;
      }
    }

    .switch {
      position: absolute;
      height: 37px;
      background: @bondi-blue;
      left: 0;
      top: 0;
      z-index: 1;
      transition: left .15s ease-out;
    }
  }

  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  .flight-deals-module__link-wrapper {
    text-align: center;
    @media only screen and (min-width: @mobile-bp) {
      text-align: right;
      padding-right: 40px;
    }
  }

  header {
    text-align: center;
    margin-bottom: 55px;
  }

  .sta-heading-m {
    text-align: center;
    margin-bottom: 30px;
  }

  &__switch {
    position: relative;
    margin: 20px 0 40px;
    height: 57px;
    display: inline-block;
    background: #fff;
    font-family: @titillium;
    -webkit-border-radius: 40px;
    border-radius: 0;
    background-clip: padding-box;

    &__label {
      position: relative;
      z-index: 2;
      float: left;
      width: 128px;
      height: 37px;
      line-height: 37px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 10px;
      margin-top: 10px;
      color: @bondi-blue;
      text-align: center;
      cursor: pointer;
      letter-spacing: 1px;
      transition: color .2s linear;
      user-select: none;

      &:focus {
        background: none;
        outline: none;
      }

      &_second {
        margin-left: 24px;
        width: 180px;
      }

      &_on {
        padding-right: 2px;
      }
      &_off {
        padding-left: 2px;
      }
    }
    &__selection {
      display: block;
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 10px;
      width: 135px;
      height: 37px;
      background: #0065bd;
      -webkit-border-radius: 2px;
      border-radius: 0;
      background-clip: padding-box;
      transition: left .15s ease-out;
    }

    &__input {
      display: none;

      &:checked {
        &+.flight-deals-module__switch__label {
          transition: 0.15s ease-out;
          color: #FFFFFF;

          &_on ~ .flight-deals-module__switch__selection {
            left: 160px;
            width: 180px;
          }
        }
      }
    }
  }

  &__carousel {
    margin-bottom: 30px;
    &__slide {
      display: flex;
      flex-wrap: wrap;

      //@media only screen and (min-width: @mobile-bp) {
      //  padding: 0 40px;
      //}
    }
  }

  .slider-wrapper {
    position: relative;
    @media only screen and (min-width: @mobile-bp) {
      padding: 0 40px;
    }

  }

  .flight-ticket {
    position: relative;
    background: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    border: solid 1px @grey-border;
    border-right: 0;
    border-left: 0;
    height: 136px;
    width: 100%;
    @media only screen and (min-width: @mobile-bp) {
      max-width: 520px;
      flex: 1 1 430px;

      &:nth-child(odd) {
        //margin-right: 20px;
      }
    }

    &__preloader {
      display: none;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      z-index: 3;
    }
    
    &__arc {
      position: relative;
      width: 22px;
      height: 22px;
      border: 4px solid @mid-grey-sub-text;
      border-radius: 50%;
      box-sizing: content-box;
      animation: rotate 2.9s infinite linear;

      &::before, &::after {
        content: '';
        position: absolute;
        top: -6px;
        width: 20px;
        height: 39px;
        background-color: @light-grey;
        transition: background .1s ease-out;
        animation: rotate 2s infinite ease;
      }

      &::before {
        left: -6px;
        transform-origin: 20px 20px;
      }

      &::after {
        left: 14px;
        transform-origin: 0 15px;
        animation-delay: 0.5s;
      }
    }

    &_loading {
      background-color: @light-grey;
      .flight-ticket__rounds {
        background-color: @light-grey;
      }
      .flight-ticket__preloader {
        display: block;
      }
    }

    &.active {
      cursor: auto;
    }
    &:hover {
      .flight-ticket__shadow-wrapp {
        box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.17);
      }
      .flight-ticket__rounds {
        &:before, &:after {
          box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.17) inset;
        }
      }
    }

    &_blue-ticket {
      border-top: solid 1px @bondi-blue;
      border-bottom: solid 1px @bondi-blue;

      .flight-ticket__shadow-wrapp {
        border-right: solid 1px @bondi-blue;
        border-left: solid 1px @bondi-blue;
      }
      .flight-ticket__rounds {
        &::after, &::before {
          border: solid 1px @bondi-blue;
        }
      }
      .flight-ticket__content__data {
        height: calc(~"100% - 25px");
      }
    }

    &__shadow-wrapp {
      height: calc(~"50% - 10px");
      @media only screen and (min-width: @mobile-bp) {

      }
      border-right: solid 1px @grey-border;
      border-left: solid 1px @grey-border;
    }
    &__rounds {
      display: block;
      position: relative;
      width: 100%;
      height: 20px;
      overflow: hidden;
      background: #fff;
      box-sizing: content-box;
      z-index: 1;
      cursor: default;
      padding: 1px 0;
      margin: -1px 0 0 0;
      @media only screen and (min-width: @mobile-bp) {

      }
      &:before,
      &:after {
        content: "";
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%,0);
        border: solid 1px @grey-border;
        background: white;
        //box-shadow: 0 2px 4px 1px rgba(0,0,0,0.07) inset;
      }
      &:before {
        left: 0;
      }
      &:after {
        left: 100%;
      }
    }

    &__header {
      .clearfix;
      min-height: 50px;
      position: relative;
      margin: 0 0 20px 0;
      padding: 5px 10px;
      @media only screen and (min-width: @mobile-bp) {
        min-height: 40px;
        margin: 0 0 26px 0;
        padding: 5px 20px 5px 20px;
      }

    }

    &__content {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &__img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        left: 11px;
        width: 78px;
        height: 50px;
        @media only screen and (min-width: @mobile-bp) {
          display: block;
        }
      }

      &__blue-header {
        height: 26px;
        text-align: right;
        background-color: @bondi-blue;
        text-transform: uppercase;
        color: white;
        font: 600 10px/2.3 @titillium;
        padding-right: 10px;
      }
      &__data {
        display: flex;
        padding: 0 20px;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        @media only screen and (min-width: @mobile-bp) {
          margin-left: 89px;
          padding: 0 15px 0 10px;
        }

        &__row {
          display: flex;
          justify-content: space-between;

          &_tooltips {
            margin: -10px 0;
          }

          &__price {
            text-align: right;
            &__value {
              font: normal 18px/0.9 Tahoma;
              color: @jungle;
              letter-spacing: .1px;
              margin: 0;
              strong {
                font-size: 20px;
                font-weight: bold;
                margin-left: -5px;
              }
            }
          }

          &__hint {
            font: normal 10px Tahoma;
            color: @mid-grey-sub-text;

            &_tax {
              margin-left: 20px;
              span {
                display: block;
              }
            }
          }

          &__title {
            font: 400 16px/1.25 @titillium;
            letter-spacing: .1px;
            p {
              margin: 0;
            }

            strong {
              font-weight: 600;
            }
          }
          &__dates {
            font: normal 10px Tahoma;
            color: @mid-grey-sub-text;
            strong {
              display: block;
            }
          }

          &__tooltip {
            font: 600 10px @titillium;
            text-transform: uppercase;
            color: @bondi-blue;
            margin: 0;
          }
        }
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;

    @media only screen and (min-width: @mobile-bp) {
      display: block;
      transform: translate(0, -50%);
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-pagination {
    position: static;
    margin-bottom: 10px;

    @media only screen and (min-width: @mobile-bp) {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate3d(-50%, 0, 0);
      margin-bottom: 0;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;

    &-active {
      background-color: @bondi-blue;
    }
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.home-hero-carousel-module {
  background-image: linear-gradient( 135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50% ), linear-gradient( -135deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50% ), linear-gradient( 45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50% ), linear-gradient( -45deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50% );
  background-size: 8px 8px;
  background-color: rgb(241,123,57);
  background-repeat: repeat-x;
  background-position: top center, top center, bottom center, bottom center;
  padding: 20px 18.5px;
  margin: -5px 0 35px;

  transition: background-color  1s ease;

  @media only screen and (min-width: @mobile-bp) {
    padding: 60px 20px;
  }

  .pagination-section {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (min-width: @mobile-bp) {
      flex-wrap: nowrap;
    }
  }

  .paginator {
    background-color: #fff;
    color: @dark-grey;
    transition: background-color .5s ease;
    border: 0;
    flex: 1 1 150px;
    min-height: 45px;
    cursor: pointer;
    margin: 1.5px;

    &:hover {
      color: white;
      background-color: rgba(255,255,255,.25);
    }

    @media only screen and (min-width: @mobile-bp) {
      width: 170px;
      min-height: 55px;
    }

    &.active {
      background-color: rgba(0,0,0,.3);
      color: white;
    }
  }

  .swiper-wrapper {
    max-width: 520px;
    height: 362px;
  }
  .swiper-slide {
    background-color: white;
  }

  .sliders {
    font-size: 0;
    margin-bottom: 21px;

    &.mobile {
      @media only screen and (min-width: @mobile-bp) {
        display: none;
      }
    }

    &.desktop {
      display: none;
      @media only screen and (min-width: @mobile-bp) {
        display: block;
      }
    }

    .swiper-container {
      display: inline-block;
      width: 100%;
      font-size: 18px; // TODO change temp value
      box-shadow: 0 2px 4px 0 rgba(67, 67, 67, 0.5);
      @media only screen and (min-width: @mobile-bp) {
        width: 50%;
      }
    }
  }
}

.home-contact-us-module {
  background-color: #3c1053;
  margin: 0 0 30px;
  padding: 26px 20px 35px;

  @media only screen and (min-width: @mobile-bp) {
    padding: 44px 40px 37px;
  }

  .contact-us-element:hover {
    text-decoration: underline;
  }

  .contact-us-element,
  .contact-us-element:visited {
    font: 600 21px/0.95 @titillium;
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;

    p {
      margin: 0;

      &.main {
        margin-bottom: 9px;
      }

      &.sub {
        font-size: 18px;
        font-weight: normal;
        color: rgba(255,255,255,.8);
      }
    }
  }

  .contact-us-list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media only screen and (min-width: @mobile-bp) {
      max-width: 1060px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    li {
      font-size: 18px;
      display: block;

      &:not(:last-child) {
        margin-bottom: 55px;
        @media only screen and (min-width: @mobile-bp) {
          margin-bottom: 0;
        }
      }
    }
  }

  .contact-us-element {
    display: inline-block;

    &::before {
      content: "";
      display: block;
      background: url("../../home-contact-us.png") no-repeat;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .contact-us .contact-us-element {
    padding-left: 52px;

    &::before {
      background-position: 0 -31px;
      width: 36px;
      height: 37px;
    }
  }

  .find-a-store .contact-us-element {
    padding-left: 52px;

    &::before {
      background-position: 4px -73px;
      width: 36px;
      height: 40px;
    }
  }

  .sign-up .contact-us-element {
    padding-left: 52px;

    &::before {
      background-position: 0 0;
      width: 36px;
      height: 26px;
    }
  }

}