@import "../../common/less/variables";

* { box-sizing: border-box; }

.header-module {
  min-height: 408px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 642px) {
    min-height: 446px;
  }
}

.video-foreground {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: absolute;
}

#ytplayer {
  width: 250%;
  height: 200%;
  left: 50%;
  top: -50%;
  position: absolute;
  transform: translateX(-50%);
  pointer-events: none;
  @media only screen and (min-width: 642px) {
    left: initial;
    transform: none;
    width: 100%;
  }
}
.text {
  color: white;
  text-align: center;
  z-index: 2;

  .title{
    font: 600 46px/0.96 @titillium;
    margin: 0 0 13px 0;
  }

  .sub {
    margin-top: 0;
    font: normal 18px/1.39 @titillium;
    letter-spacing: 0.1px;
  }
}

.link {
  display: block;
  width: 100%;
  height: 100%;

  &_img {
    position: absolute;
    z-index: 1;
  }
}