.region-sales-module {
  width: 960px;
  margin: 0 auto;

  .regions-wrapper {
    .clearfix;

    &_row-three {
      .region-block {
        width: 320px;

        &:hover {
          width: 328px;
        }

        &:nth-child(3n + 3) {
          border-right: 0;
        }

        &:nth-last-child(-n + 3) {
          border-bottom: 0;
        }
      }
    }
    &_row-two {
      .region-block {
        width: 480px;

        &:hover {
          width: 488px;
        }

        &:nth-child(2n + 2) {
          border-right: 0;
        }

        &:nth-last-child(-n + 2) {
          border-bottom: 0;
        }
      }
    }
    &_row-eight {
      .region-block {
        width: 240px;


        &:hover {
          width: 248px;
        }

        &:nth-child(4n + 4) {
          border-right: 0;
        }

        &:nth-last-child(-n + 4) {
          border-bottom: 0;
        }
      }
    }
  }

  .sta-heading-s {
    //text-align: right;
    margin-bottom: 30px;
  }
  .region-block {
    text-decoration: none;
    color: @dark-grey;
    float: left;
    position: relative;
    background-color:  white;
    border-right: 0.5px solid @grey-border;
    border-bottom: 0.5px solid @grey-border;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 212px;

    &:hover {
      box-shadow: 0 2px 6.48px 1.52px rgba(0, 0, 0, 0.17);
      margin: -4px;
      z-index: 2;
      border: 0;
      height: 220px;
    }
    .text {
      font: 600 16px @titillium;
      margin: 13px 0 19px
    }
  }

  .tag {
    font: 600 12px @titillium;
    color: white;
    background-color: @brooklyn;
    padding: 0 10px;
    letter-spacing: 3px;
  }
}