body {
  @media only screen and (min-width: @mobile-bp) {
    min-width: 960px;
  }
}

.region-sales-module {
  padding: 0 10px;
  margin: 0 auto 40px;
  @media only screen and (min-width: @mobile-bp) {
    width: 960px;
    padding: 0;
  }

  .regions-wrapper {
    .clearfix;

    @media only screen and (min-width: @mobile-bp) {
      &_row-three {
        .region-block {
          width: 320px;

          &:hover {
            width: 328px;
          }

          &:nth-child(3n + 3) {
            border-right: 0;
          }

          &:nth-last-child(-n + 3) {
            border-bottom: 0;
          }
        }
      }
      &_row-two {
        .region-block {
          width: 480px;

          &:hover {
            width: 488px;
          }

          &:nth-child(2n + 2) {
            border-right: 0;
          }

          &:nth-last-child(-n + 2) {
            border-bottom: 0;
          }
        }
      }
      &_row-eight {
        .region-block {
          width: 240px;

          &:hover {
            width: 248px;
          }

          &:nth-child(4n + 4) {
            border-right: 0;
          }

          &:nth-last-child(-n + 4) {
            border-bottom: 0;
          }
        }
      }
    }
  }

  .sta-heading-s {
    //text-align: right;
    margin-bottom: 30px;
  }

  .region-block {
    text-decoration: none;
    color: @dark-grey;
    float: left;
    position: relative;
    background-color:  white;
    border-right: 0.5px solid @grey-border;
    border-bottom: 0.5px solid @grey-border;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 190px;
    width: 50%;

    @media only screen and (max-width: 641px) {
      &:nth-child(2n + 2) {
        border-right: 0;
      }
      &:nth-last-child(-n + 2) {
        border-bottom: 0;
      }
    }

    @media only screen and (min-width: @mobile-bp) {
      height: 212px;
    }

    &:hover {
      box-shadow: 0 2px 6.48px 1.52px rgba(0, 0, 0, 0.17);
      margin: -4px;
      z-index: 2;
      border: 0;
      height: 198px;
      width: calc(~"50% + 8px");

      @media only screen and (min-width: @mobile-bp) {
        height: 220px;
      }
    }
    .text {
      font: 600 14px @titillium;
      margin: 13px 0 19px;
      @media only screen and (min-width: @mobile-bp) {
        font-size: 16px;
      }
    }
  }

  .tag {
    font: 600 12px @titillium;
    color: white;
    background-color: @brooklyn;
    padding: 0 10px;
    letter-spacing: 3px;
  }
}

.scrolling-hero-banner {
  position: relative;

  .hero-banner {
    margin-top: 0;
    padding: 90px 50px;
  }

  .swiper-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    transition: right, left .5s ease;

    &_next {
      background: url('../../new-pages/sprite.png') no-repeat -51px 0;
      width: 46px;
      height: 46px;
      right: 50px;

      &:hover {
        background-position: -51px -51px;
      }

      @media only screen and (min-width: 1171px) {
        right: 100px;
      }
    }

    &_prev {
      background: url('../../new-pages/sprite.png') no-repeat 0 0;
      width: 46px;
      height: 46px;
      left: 50px;

      &:hover {
        background-position: 0 -51px;
      }

      @media only screen and (min-width: 1171px) {
        left: 100px;
      }
    }
  }

  .default-sta-bullets;

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 25px;
  }
  .swiper-pagination-bullet-active {
    background-color: @mid-grey-sub-text;
  }
}