/*
 * megaNav reset
 **********************************
 */

#sta-nav-top {
  @media only screen and (min-width: 641px) {
    width: 100% !important;
    padding: 0 10px;
    .box-sizing(border-box);
  }
  @media only screen and (min-width: 850px) {
    padding: 0 20px;
  }
  @media only screen and (min-width: 1000px) {
    padding: 0;
    width: 960px !important;
  }
}

#sta-page-wrap {
  @media only screen and (min-width: 641px) {
    width: 100% !important;
    padding: 0 10px;
    .box-sizing(border-box);
  }
  @media only screen and (min-width: 850px) {
    padding: 0 20px;
  }
  @media only screen and (min-width: 1000px) {
    padding: 0;
    width: 960px !important;
  }
}

#sta-tagline-call-info {
  @media only screen and (min-width: 641px) {
    .clearfix;
    height: auto !important;
    min-height: 90px;
  }
}

#sta-footer .sta-footer-wrap {
  @media only screen and (min-width: 641px) {
    width: 100% !important;
    padding: 0 10px;
    .box-sizing(border-box);
  }
  @media only screen and (min-width: 850px) {
    padding: 0 20px;
  }
  @media only screen and (min-width: 1000px) {
    padding: 0;
    width: 960px !important;
  }
}

#sta-nav-top .sta-nav-right {
  @media only screen and (min-width: 641px) {
    overflow: hidden;
  }
  @media only screen and (min-width: 850px) {
    overflow: visible;
  }
}



/*
 * Globe UI Header/Footer reset
 **********************************
 */
#top-header {
  display: none;
  @media only screen and (min-width: 641px) {
    display: block;
  }
}
#nav-top {
  width: auto !important;
  overflow: hidden;
  @media only screen and (min-width: 641px) {
    display: block;
    padding: 0 10px;
  }
  @media only screen and (min-width: 850px) {
    padding: 0 20px;
  }
  @media only screen and (min-width: 1000px) {
    padding: 0;
    width: 960px !important;
  }
}


/*
 * #page-wrap
 **********************************
 */
#page-wrap {
  width: auto !important;
  margin: 0;
  padding: 0;
}

#nav-top .nav-left > li > a {
  font-size: 11px;
  line-height: 15px;
}

/*
 * pageHeader
 **********************************
 */
header.header {
  display: none;
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
  @media only screen and (min-width: 641px) {
    display: block;
    margin: 0 10px;
  }
  @media only screen and (min-width: 850px) {
    display: block;
    margin: 0 20px 10px 20px;
  }
  @media only screen and (min-width: 1000px) {
    width: 960px;
    margin: 0 auto 10px auto;
  }

  #tagline-call-info {
    .clearfix;
    height: auto !important;
    @media only screen and (min-width: 745px) {
      height: 90px !important;
    }
  }

  .call-info {
    float: right;
    margin: 10px 2px 0 0;
    width: auto;
    max-width: 250px;
    @media only screen and (min-width: 745px) {
      margin: 0 2px 0 0;
    }
    p {
      font-size: 14px;
      line-height: 14px;
      margin: 0 0 1px 0;
    }
  }
}

ul.navigation .mainNavSubMenu {
  width: 100% !important;
  height: auto !important;
  @media only screen and (min-width: 1000px) {
    width: 960px !important;
    &.large-menu {
      height: 610px !important;
    }
    &.medium-menu {
      height: 420px !important;
    }
    &.featured-menu {
      height: 406px !important;
    }
  }

  .desp-column {
    .box-sizing(border-box);
    width: 21% !important;
    @media only screen and (min-width: 1000px) {
      .box-sizing(content-box);
      width: 200px !important;
    }
  }
  .nav-column {
    .box-sizing(border-box);
    width: 53% !important;
    @media only screen and (min-width: 1000px) {
      .box-sizing(content-box);
      width: 422px !important;
    }
  }
  .img-column {
    .box-sizing(border-box);
    width: 25.5% !important;
    @media only screen and (min-width: 1000px) {
      .box-sizing(content-box);
      width: 245px !important;
    }
  }
  .feature-column {
    .box-sizing(border-box);
    width: 20.5% !important;
    @media only screen and (min-width: 1000px) {
      .box-sizing(content-box);
      width: 214px !important;
    }
  }
}

/*
 * footer-wrap
 **********************************
 */
footer .footer-wrap {
  width: auto !important;
  padding: 0 10px;
  @media only screen and (min-width: 850px) {
    padding: 0 20px;
  }
  @media only screen and (min-width: 1000px) {
    width: 960px !important;
    margin: 0 auto;
    padding: 0;
  }
}

#footer-panel2 {
  width: auto !important;
  @media only screen and (min-width: 720px) {
    width: 672px !important;
  }

  #footer-about-us {
    clear: left;
    @media only screen and (min-width: 720px) {
      clear: none;
    }
  }
}

#footer-contact-us ul li a {
  font-size: 12px;
  line-height: 30px;
}

footer .footer-wrap {
  a {
    color: #434343;
    font-weight: normal;
    &:hover {
      color: #fb4f14;
    }
  }
  h4 {
    font-size: 14px;
  }
}

nav ul.navigation .mainNavSubMenu li a {
  line-height: 20px;
}

.glbPopupLg {
  @media only screen and (min-width: 641px) {
    width: 90%;
    margin: 0 auto !important;
  }
  @media only screen and (min-width: 850px) {
    width: 780px;
  }
}

#top-header p,
#newsletter p,
header p,
footer p {
  font-size: inherit;
  line-height: inherit;
}