html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
a {
  outline: 0;
}
a img {
  border: none;
}
ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr,
td,
th {
  vertical-align: middle;
}
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  background: #fff;
  cursor: auto;
  line-height: normal;
}
button,
input[type="button"],
input[type="submit"] {
  outline: none;
}
/*
 * fonts
 */
/*
 * btn
 */
/*
 * panel bg
 */
/*
 * travel extras
 */
.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.btn,
header .btn,
footer .btn {
  display: inline-block;
  padding: 6px 10px;
  text-align: center;
  text-transform: uppercase;
  font: bold 19px / normal 'Titillium Web', 'Trebuchet MS', Tahoma, sans-serif;
  color: #0a3266;
  min-height: 45px;
  background: #c9da00;
  border: 1px solid #bdcd00;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: background 0.1s ease-out, border-color 0.1s ease-out;
  -moz-transition: background 0.1s ease-out, border-color 0.1s ease-out;
  transition: background 0.1s ease-out, border-color 0.1s ease-out;
}
.btn:hover,
header .btn:hover,
footer .btn:hover,
.btn:active,
header .btn:active,
footer .btn:active {
  background: #ddeb34;
  color: #104990;
  border-color: #d0e510;
}
.btn.I,
header .btn.I,
footer .btn.I {
  background: #edeff1;
  color: #434343;
  border-color: #edeff1;
  font-size: 16px;
}
.btn.I:hover,
header .btn.I:hover,
footer .btn.I:hover,
.btn.I:active,
header .btn.I:active,
footer .btn.I:active {
  background: #f9f9f9;
  color: #616161;
  border-color: #f9f9f9;
}
.btn.II,
header .btn.II,
footer .btn.II {
  background: #0065bd;
  color: #ffffff;
  border-color: #0065bd;
  font-size: 16px;
  box-shadow: 0 2px 2px -1px rgba(0, 41, 77, 0.75);
}
.btn.II:hover,
header .btn.II:hover,
footer .btn.II:hover,
.btn.II:active,
header .btn.II:active,
footer .btn.II:active {
  background: #0a94eb;
  color: #ffffff;
  border-color: #0a94eb;
}
.btn span,
header .btn span,
footer .btn span {
  font-size: 22px;
}
a.btn,
footer a.btn,
header a.btn,
a.btn:link,
footer a.btn:link,
header a.btn:link {
  font: bold 19px / 28px 'Titillium Web', 'Trebuchet MS', Tahoma, sans-serif;
  color: #0a3266;
}
a.btn.II,
footer a.btn,
header a.btn,
a.btn:link,
footer a.btn:link,
header a.btn:link {
  line-height: 18px;
  padding: 7px 10px 6px 10px;
  font: bold 16px / normal 'Titillium Web', 'Trebuchet MS', Tahoma, sans-serif;
}
.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-direction-row {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.noBorderBtm {
  border-bottom: 0;
}
/*
 * shopping cart components
 **********************************
 */
.shoppingCartSection {
  /*
 * panelBox
 **********************************
 */
  /*
   * hotels panel
   ***************************************
   */
  /*
   * panelContent
   ***************************************
   */
  /*
 * panelContentHeader
 ***************************************
 */
  /*
   * panelFooter
   ***************************************
   */
  /*
   * gridBox
   ***************************************
   */
  /*
   * flightsGrid
   ***************************************
   */
  /*
   * discountCardsGrid
   ***************************************
   */
  /*
   * multiFlexPassGrid
   ***************************************
   */
  /*
   * visasGrid
   ***************************************
   */
  /*
   * hotelsGrid
   ***************************************
   */
  /*
   * insuranceGrid
   ***************************************
   */
  /*
   * giftVouchersGrid
   ***************************************
   */
  /*
   * fourBoxGrid
   ***************************************
   */
  /*
   * detailsBox
   **********************************
   */
  /*
   * detailsToggler
   **********************************
   */
  /*
   * detailsList
   **********************************
   */
  /*
   * detailsList
   **********************************
   */
  /*
 * offerBox
 **********************************
 */
  /*
 * notificationBox
 **********************************
 */
  /*
   * contentFooter
   **********************************
   */
}
.shoppingCartSection .panelBox {
  margin: 0;
  box-shadow: none;
}
.shoppingCartSection .panelBox:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.shoppingCartSection .panelBox .btnBox {
  padding: 15px 10px;
  min-height: 56px;
  border-top: 1px solid #d9d9d9;
}
.shoppingCartSection .panelBox .btnBox:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelBox .btnBox {
    padding: 10px 20px;
    border-top: 0;
  }
}
.shoppingCartSection .panelBox .btnBox .bottomLink {
  float: right;
  color: #0065bd;
  margin: 5px 0 0 0;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelBox .btnBox .bottomLink {
    float: left;
    margin: 16px 0 0 0;
  }
}
.shoppingCartSection .panelHeader {
  padding: 10px 10px 10px 50px;
  min-height: 40px;
  position: relative;
  background: #a89a25;
}
.shoppingCartSection .panelHeader:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelHeader {
    padding: 10px 20px 10px 50px;
  }
}
.shoppingCartSection .panelHeader .panelIcon {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin: -15px 0 0 0;
  background: url("../../icons/cartPage/icons_spr.png") -51px -227px no-repeat;
}
.shoppingCartSection .panelHeader h4 {
  float: left;
  color: #fff;
  margin: 0;
  line-height: 20px;
}
.shoppingCartSection .panelHeader .timeBox {
  float: right;
  position: relative;
  padding: 2px 0 0 22px;
  color: #fff;
  min-height: 20px;
  font-size: 13px;
  line-height: 14px;
}
.shoppingCartSection .panelHeader .timeBox:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.shoppingCartSection .panelHeader .timeBox .icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -9px 0 0 0;
  background: url("../../icons/cartPage/icons_spr.png") -57px -285px no-repeat;
}
.shoppingCartSection .panelHeader .timeBox p {
  display: none;
  font-weight: bold;
  margin: 0;
  font-size: 13px;
  line-height: 14px;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelHeader .timeBox p {
    display: inline-block;
  }
}
.shoppingCartSection .panelHeader .timeBox .timeCounter {
  display: inline-block;
}
.shoppingCartSection .giftsPanel .panelHeader {
  background: #a89a25;
}
.shoppingCartSection .flightsPanel .panelHeader {
  background: #f47d30;
}
.shoppingCartSection .hotelsPanel .panelHeader {
  background: #4e156c;
}
.shoppingCartSection .insurancePanel .panelHeader {
  background: #0b2453;
}
.shoppingCartSection .flightsPanel.outboundFlights .panelIcon {
  background-position: 4px -179px;
}
.shoppingCartSection .flightsPanel.inboundFlights .panelIcon {
  background-position: -51px -179px;
}
.shoppingCartSection .hotelsPanel .panelIcon {
  background-position: 1px -227px;
}
.shoppingCartSection .insurancePanel .panelIcon {
  background-position: 6px -276px;
}
.shoppingCartSection .discountCardsPanel .panelIcon {
  background-position: -51px -227px;
}
.shoppingCartSection .multiFlexPassPanel .panelIcon {
  background-position: -51px -227px;
}
.shoppingCartSection .visasPanel .panelIcon {
  background-position: -51px -227px;
}
.shoppingCartSection .giftVouchersPanel .panelIcon {
  background-position: -51px -227px;
}
.shoppingCartSection .insurancePanel .panelFooter {
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #d9d9d9;
}
.shoppingCartSection .insurancePanel .panelContent:last-child .panelFooter {
  border-bottom: 0;
}
.shoppingCartSection .hotelsPanel .toggledDetails .cancellationRulesLink {
  float: right;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .hotelsPanel .toggledDetails .cancellationRulesLink {
    display: none;
  }
}
.shoppingCartSection .panelFooter.hotelsFooter .infoBox {
  display: none;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelFooter.hotelsFooter .infoBox {
    display: block;
  }
}
.shoppingCartSection .panelContent {
  border: 1px solid #d6d6d6;
  border-bottom: 0;
  border-top: 0;
  overflow: hidden;
  padding: 0;
}
.shoppingCartSection .panelContent:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.shoppingCartSection .panelContentHeader {
  padding: 0 10px 10px 10px;
  margin-top: 15px;
  border-bottom: 2px solid #d9d9d9;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelContentHeader {
    padding: 0 20px 10px 20px;
  }
}
.shoppingCartSection .panelFooter {
  border: 1px solid #d6d6d6;
  padding: 15px 10px;
  min-height: 56px;
}
.shoppingCartSection .panelFooter:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelFooter {
    padding: 10px 20px;
  }
}
.shoppingCartSection .panelFooter .infoBox {
  margin: 0 0 14px 0;
}
.shoppingCartSection .panelFooter .infoBox:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.shoppingCartSection .panelFooter .infoBox a {
  color: #434343;
  float: left;
}
.shoppingCartSection .panelFooter .infoBox a:hover {
  color: #fb4f14;
}
.shoppingCartSection .panelFooter .infoBox .inner {
  float: left;
  margin: 0;
}
.shoppingCartSection .panelFooter .infoBox .inner:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelFooter .infoBox .inner {
    float: none;
    min-height: 16px;
  }
  .shoppingCartSection .panelFooter .infoBox .inner a {
    margin: 0 0 5px 0;
  }
}
.shoppingCartSection .panelFooter .infoBox .bottomLink {
  float: right;
  color: #0065bd;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelFooter .infoBox .bottomLink {
    float: left;
  }
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelFooter .infoBox {
    float: left;
    margin: 0 10px 0 0;
    min-height: 35px;
  }
}
.shoppingCartSection .panelFooter .priceBox {
  float: right;
  text-align: right;
}
.shoppingCartSection .panelFooter .priceBox h5 {
  display: inline-block;
  color: #555;
  margin: 0;
}
.shoppingCartSection .panelFooter .priceBox .price {
  margin: 0 0 0 5px ;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelFooter .priceBox .price {
    margin-left: 15px;
  }
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .panelFooter .priceBox {
    margin: 6px 0 0 0;
  }
}
.shoppingCartSection .price {
  color: #fb4f14;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  display: inline-block;
}
.shoppingCartSection .policySummaryLink {
  padding: 0 0 0 25px;
  min-height: 16px;
  position: relative;
  line-height: 16px;
}
.shoppingCartSection .policySummaryLink:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: -1px;
  left: 0;
  background: url("../../icons/cartPage/icons_spr.png") -63px -521px no-repeat;
}
.shoppingCartSection .policySummaryLink .size {
  color: #888;
  font-weight: normal;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    border-bottom: 1px solid #d9d9d9;
  }
}
.shoppingCartSection .gridBox .row:last-child {
  border-bottom: 0;
}
.shoppingCartSection .gridBox .cell {
  border-bottom: 1px solid #d9d9d9;
  font-size: 13px;
  line-height: 15px;
  padding: 10px;
  flex: 0 1 auto;
  color: #000;
  min-height: 60px;
}
.shoppingCartSection .gridBox .cell p {
  margin: 0 0 4px 0;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox .cell {
    min-height: 85px;
    border-right: 1px solid #d9d9d9;
    padding: 20px;
  }
  .shoppingCartSection .gridBox .cell:last-child {
    border-right: none;
  }
}
.shoppingCartSection .gridBox .cellTitle {
  color: #999;
}
.shoppingCartSection .gridBox .cellMainText {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.shoppingCartSection .gridBox.flightsGrid .cell {
  border-bottom: none;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.flightsGrid .cell {
    border-bottom: 1px solid #d9d9d9;
  }
  .shoppingCartSection .gridBox.flightsGrid .cell.one {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
  }
  .shoppingCartSection .gridBox.flightsGrid .cell.two {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 40%;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
  }
  .shoppingCartSection .gridBox.flightsGrid .cell.three {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 40%;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
  }
}
.shoppingCartSection .gridBox.flightsGrid .logoCell {
  display: none;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.flightsGrid .logoCell {
    display: block;
    text-align: center;
    position: relative;
  }
  .shoppingCartSection .gridBox.flightsGrid .logoCell img {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.shoppingCartSection .gridBox.discountCardsGrid .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.discountCardsGrid .row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.shoppingCartSection .gridBox.discountCardsGrid .row:last-child .cell:last-child {
  border-bottom: none;
}
.shoppingCartSection .gridBox.discountCardsGrid .cell {
  border-bottom: 1px solid #d9d9d9;
}
.shoppingCartSection .gridBox.discountCardsGrid .cell.one {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
}
.shoppingCartSection .gridBox.discountCardsGrid .cell.two {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
  border-left: 1px solid #d9d9d9;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.discountCardsGrid .cell.two {
    border-left: none;
  }
}
.shoppingCartSection .gridBox.discountCardsGrid .cell.three {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.discountCardsGrid .cell {
    border-bottom: none;
  }
  .shoppingCartSection .gridBox.discountCardsGrid .cell.one {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 60%;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%;
    max-width: inherit;
  }
  .shoppingCartSection .gridBox.discountCardsGrid .cell.two {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    padding: 20px 15px;
    max-width: inherit;
  }
  .shoppingCartSection .gridBox.discountCardsGrid .cell.three {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    padding: 20px 15px;
  }
}
.shoppingCartSection .gridBox.multiFlexPassGrid .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.multiFlexPassGrid .row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.shoppingCartSection .gridBox.multiFlexPassGrid .row:last-child .cell:last-child {
  border-bottom: none;
}
.shoppingCartSection .gridBox.multiFlexPassGrid .cell {
  border-bottom: 1px solid #d9d9d9;
}
.shoppingCartSection .gridBox.multiFlexPassGrid .cell.one {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
}
.shoppingCartSection .gridBox.multiFlexPassGrid .cell.two {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
  border-left: 1px solid #d9d9d9;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.multiFlexPassGrid .cell.two {
    border-left: none;
  }
}
.shoppingCartSection .gridBox.multiFlexPassGrid .cell.three {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.multiFlexPassGrid .cell {
    border-bottom: none;
  }
  .shoppingCartSection .gridBox.multiFlexPassGrid .cell.one {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 60%;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%;
    max-width: inherit;
  }
  .shoppingCartSection .gridBox.multiFlexPassGrid .cell.two {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    padding: 20px 15px;
    max-width: inherit;
  }
  .shoppingCartSection .gridBox.multiFlexPassGrid .cell.three {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    padding: 20px 15px;
  }
}
.shoppingCartSection .gridBox.visasGrid .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.visasGrid .row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.shoppingCartSection .gridBox.visasGrid .row:last-child .cell:last-child {
  border-bottom: none;
}
.shoppingCartSection .gridBox.visasGrid .cell {
  border-bottom: 1px solid #d9d9d9;
}
.shoppingCartSection .gridBox.visasGrid .cell.one {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
}
.shoppingCartSection .gridBox.visasGrid .cell.two {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
  border-left: 1px solid #d9d9d9;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.visasGrid .cell.two {
    border-left: none;
  }
}
.shoppingCartSection .gridBox.visasGrid .cell.three {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.visasGrid .cell {
    border-bottom: none;
  }
  .shoppingCartSection .gridBox.visasGrid .cell.one {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 60%;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%;
    max-width: inherit;
  }
  .shoppingCartSection .gridBox.visasGrid .cell.two {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    padding: 20px 15px;
    max-width: inherit;
  }
  .shoppingCartSection .gridBox.visasGrid .cell.three {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    padding: 20px 15px;
  }
}
.shoppingCartSection .gridBox.hotelsGrid .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.hotelsGrid .row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.shoppingCartSection .gridBox.hotelsGrid .cell {
  border-bottom: 1px solid #d9d9d9;
}
.shoppingCartSection .gridBox.hotelsGrid .cell.one {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}
.shoppingCartSection .gridBox.hotelsGrid .cell.one .cellTitle {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.shoppingCartSection .gridBox.hotelsGrid .cell.one .cellMainText {
  color: #999;
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
}
.shoppingCartSection .gridBox.hotelsGrid .cell.two {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
}
.shoppingCartSection .gridBox.hotelsGrid .cell.three {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
  border-left: 1px solid #d9d9d9;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.hotelsGrid .cell.three {
    border-left: none;
  }
}
.shoppingCartSection .gridBox.hotelsGrid .cell span.day,
.shoppingCartSection .gridBox.hotelsGrid .cell span.date {
  display: block;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.hotelsGrid .cell.one {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 60%;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%;
  }
  .shoppingCartSection .gridBox.hotelsGrid .cell.two {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    max-width: inherit;
    padding: 20px 15px;
  }
  .shoppingCartSection .gridBox.hotelsGrid .cell.three {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    max-width: inherit;
    padding: 20px 15px;
  }
}
.shoppingCartSection .gridBox.insuranceGrid .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.shoppingCartSection .gridBox.insuranceGrid .row:last-child .cell.four {
  border-bottom: 0;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.insuranceGrid .row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.shoppingCartSection .gridBox.insuranceGrid .cell {
  border-bottom: 1px solid #d9d9d9;
}
.shoppingCartSection .gridBox.insuranceGrid .cell.one {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}
.shoppingCartSection .gridBox.insuranceGrid .cell.two {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
}
.shoppingCartSection .gridBox.insuranceGrid .cell.three {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
  border-left: 1px solid #d9d9d9;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.insuranceGrid .cell.three {
    border-left: none;
  }
}
.shoppingCartSection .gridBox.insuranceGrid .cell.four {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.insuranceGrid .cell {
    border-bottom: 0;
  }
  .shoppingCartSection .gridBox.insuranceGrid .cell.one {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 40%;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
  }
  .shoppingCartSection .gridBox.insuranceGrid .cell.two {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    max-width: inherit;
    padding: 20px 15px;
  }
  .shoppingCartSection .gridBox.insuranceGrid .cell.three {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    max-width: inherit;
    padding: 20px 15px;
  }
  .shoppingCartSection .gridBox.insuranceGrid .cell.four {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    padding: 20px 15px;
  }
}
.shoppingCartSection .gridBox.giftVouchersGrid .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.shoppingCartSection .gridBox.giftVouchersGrid .row:last-child .cell.three,
.shoppingCartSection .gridBox.giftVouchersGrid .row:last-child .cell.four {
  border-bottom: 0;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.giftVouchersGrid .row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.shoppingCartSection .gridBox.giftVouchersGrid .cell {
  border-bottom: 1px solid #d9d9d9;
}
.shoppingCartSection .gridBox.giftVouchersGrid .cell.one,
.shoppingCartSection .gridBox.giftVouchersGrid .cell.two,
.shoppingCartSection .gridBox.giftVouchersGrid .cell.three,
.shoppingCartSection .gridBox.giftVouchersGrid .cell.four {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
}
.shoppingCartSection .gridBox.giftVouchersGrid .cell.two,
.shoppingCartSection .gridBox.giftVouchersGrid .cell.four {
  border-left: 1px solid #d9d9d9;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.giftVouchersGrid .cell.two,
  .shoppingCartSection .gridBox.giftVouchersGrid .cell.four {
    border-left: none;
  }
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.giftVouchersGrid .cell {
    border-bottom: 0;
  }
  .shoppingCartSection .gridBox.giftVouchersGrid .cell.one {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 40%;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
  }
  .shoppingCartSection .gridBox.giftVouchersGrid .cell.two,
  .shoppingCartSection .gridBox.giftVouchersGrid .cell.three,
  .shoppingCartSection .gridBox.giftVouchersGrid .cell.four {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    max-width: inherit;
    padding: 20px 15px;
  }
}
.shoppingCartSection .gridBox.fourBoxGrid .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.fourBoxGrid .row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.shoppingCartSection .gridBox.fourBoxGrid .cell {
  border-bottom: 1px solid #d9d9d9;
}
.shoppingCartSection .gridBox.fourBoxGrid .cell.one,
.shoppingCartSection .gridBox.fourBoxGrid .cell.two,
.shoppingCartSection .gridBox.fourBoxGrid .cell.three,
.shoppingCartSection .gridBox.fourBoxGrid .cell.four {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  max-width: 50%;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.fourBoxGrid .cell.one,
  .shoppingCartSection .gridBox.fourBoxGrid .cell.two,
  .shoppingCartSection .gridBox.fourBoxGrid .cell.three,
  .shoppingCartSection .gridBox.fourBoxGrid .cell.four {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
}
.shoppingCartSection .gridBox.fourBoxGrid .cell.two,
.shoppingCartSection .gridBox.fourBoxGrid .cell.four {
  border-left: 1px solid #d9d9d9;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .gridBox.fourBoxGrid .cell.two,
  .shoppingCartSection .gridBox.fourBoxGrid .cell.four {
    border-left: none;
  }
}
.shoppingCartSection .detailsBox {
  padding: 12px 10px 11px 10px;
}
.shoppingCartSection .detailsBox:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .detailsBox {
    border-bottom: 1px solid #d9d9d9;
    padding: 12px 10px 10px 10px;
  }
  .shoppingCartSection .detailsBox:last-child {
    border-bottom: 0;
  }
}
.shoppingCartSection .detailsToggler {
  border: none;
  color: #000;
  font: bold 13px/16px Tahoma, Arial, sans-serif;
  cursor: pointer;
}
.shoppingCartSection .detailsToggler .lessDetails {
  display: none;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .detailsToggler {
    display: none;
  }
}
.shoppingCartSection .toggledDetails {
  display: none;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .toggledDetails {
    display: block;
  }
}
.shoppingCartSection .detailsList {
  margin: 20px 0;
}
.shoppingCartSection .detailsList li {
  color: #8b8b8b;
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 5px 0;
}
.shoppingCartSection .detailsList .detailTitle,
.shoppingCartSection .detailsList .detailValue {
  margin: 0 5px 0 0;
}
.shoppingCartSection .detailsList .detailValue span {
  margin: 0 5px 0 0;
}
.shoppingCartSection .detailsList .detailValue span:after {
  content: ",";
  display: inline-block;
  margin: 0;
}
.shoppingCartSection .detailsList .detailValue span:last-child {
  margin-right: 0px;
}
.shoppingCartSection .detailsList .detailValue span:last-child:after {
  content: "";
  display: none;
}
.shoppingCartSection .detailsList:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .detailsList {
    width: 33.33%;
    padding: 0 10px;
    margin: 0;
    float: left;
  }
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .detailsList.hotelAddressList {
    width: 66.66%;
  }
}
.shoppingCartSection .detailsList.hotelAddressList .detailValue {
  display: block;
  margin: 5px 0 0 0;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .detailsList.hotelInfoList {
    float: right;
  }
}
.shoppingCartSection .offerBox {
  padding: 10px 10px 10px 90px;
  position: relative;
  background: #f0f0f0;
  margin: 10px 0;
  min-height: 40px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.shoppingCartSection .offerBox:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.shoppingCartSection .offerBox .icon {
  width: 76px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 50%;
  margin: -20px 0 0 0;
}
.shoppingCartSection .offerBox h6 {
  margin: 2px 0 0 0;
  text-transform: uppercase;
}
.shoppingCartSection .offerBox .offerInfo {
  display: none;
}
.shoppingCartSection .offerBox.blueTicketBox {
  background: #f4f9ff;
  cursor: pointer;
}
.shoppingCartSection .offerBox.blueTicketBox .icon {
  background: url("../../icons/cartPage/icons_spr.png") 50% 7px no-repeat;
  background-size: 70%;
}
.shoppingCartSection .offerBox.blueTicketBox h6 {
  color: #0065bd;
}
.shoppingCartSection .offerBox.notice .icon:before {
  content: "!";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid #f7bd01;
  font: bold 16px/24px Tahoma, Arial, sans-serif;
  color: #f7bd01;
  text-align: center;
  margin-left: -2px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .offerBox {
    padding: 12px 10px 10px 120px;
    min-height: 64px;
  }
  .shoppingCartSection .offerBox .icon {
    width: 80px;
    left: 18px;
  }
  .shoppingCartSection .offerBox h6 {
    margin: 5px 0 2px 0;
  }
  .shoppingCartSection .offerBox .offerInfo {
    display: block;
  }
  .shoppingCartSection .offerBox.blueTicketBox .icon {
    background-size: 80px;
    background-position: 0 0;
  }
  .shoppingCartSection .offerBox.notice .icon:before {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}
.shoppingCartSection .offerBox.blueTicketBox {
  cursor: default;
}
.shoppingCartSection .notificationBox {
  background: rgba(244, 125, 48, 0.1);
  padding: 18px 10px 15px 10px;
  margin: 0 10px 20px 10px;
}
.shoppingCartSection .notificationBox:after {
  content: "";
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .notificationBox {
    margin: 20px;
    text-align: center;
  }
}
.shoppingCartSection .notificationBox .notification {
  padding: 2px 0 0 30px;
  margin: 0 0 25px 0;
  position: relative;
  min-height: 20px;
  font-size: 13px;
  line-height: 16px;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .notificationBox .notification {
    display: inline-block;
  }
}
.shoppingCartSection .notificationBox .notification:last-child {
  margin-bottom: 0;
}
.shoppingCartSection .notificationBox.severalMessages {
  text-align: left;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .notificationBox.severalMessages .notification {
    float: left;
    margin: 0 2%;
    width: 46%;
  }
}
.shoppingCartSection .notificationBox .notification .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
.shoppingCartSection .notificationBox .notification.warning .icon {
  background: url("../../icons/cartPage/icons_spr.png") 0 -137px no-repeat;
}
.shoppingCartSection .notificationBox .notification.waitTime .icon {
  background: url("../../icons/cartPage/icons_spr.png") -39px -136px no-repeat;
}
.shoppingCartSection .notificationBox .notificationTitle {
  display: block;
  margin: 0 0 4px 0;
}
.shoppingCartSection .notificationBox .inlineView .notificationTitle,
.shoppingCartSection .notificationBox .inlineView .notificationValue {
  display: inline-block;
}
.shoppingCartSection .contentFooter {
  border-top: 1px solid #d2d3d4;
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .contentFooter:after {
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
  }
}
.shoppingCartSection .contentFooter h6 {
  color: #555;
  margin: 5px 0 10px 0;
}
.shoppingCartSection .contentFooter .checkoutBtn {
  width: 100%;
}
@media only screen and (min-width: 641px) {
  .shoppingCartSection .contentFooter .checkoutBtn {
    float: right;
    clear: both;
    width: auto;
    min-width: 180px;
  }
}
